@use '../../Constants/styles/variables' as v;

/* placeholders */

%BeforeAfter {
  content: '';
  position: absolute;
}

/* ----------- */

.boxLogo {
  position: relative;
  width: 70px;
  height: 41px;
  display: flex;
  left: 70px;
  align-items: center;
  justify-content: center;
  top: 5px;
  transform: translate(4px);
}

.c {
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
  border: 3px solid v.$turquoise;
  margin-right: 1px;
  position: relative;

  &:after {
    @extend %BeforeAfter;
    height: 50%;
    width: 70%;
    top: 50%;
    margin-top: -25%;
    right: -45%;
    background-color: v.$darkGreen;
  }
}

.l {
  width: 3px;
  height: 50%;
  background-color: v.$turquoise;
  position: relative;
  bottom: 3px;
}

.o {
  height: 8px;
  width: 8px;
  content: '';
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px v.$turquoise;
  margin: 0 4px 0 4px;
}

.n {
  border-radius: 0 10px 0 0;
  border: 3px solid v.$turquoise;
  border-bottom: none;
  height: 11px;
  width: 7px;
}

.e {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  content: '';
  border: 3px solid v.$turquoise;
  position: relative;

  &:before {
    @extend %BeforeAfter;
    width: 120%;
    height: 3px;
    background-color: v.$darkGreen;
    top: 58%;
    left: 20%;
  }

  &:after {
    @extend %BeforeAfter;
    width: 147%;
    height: 2px;
    background-color: v.$turquoise;
    top: 49%;
    right: 42%;
    transform: translate(50%, -50%);
  }
}
