@use '../../Assets/Styles/variables' as v;

.jumbotronContainer {
  min-width: 1080px;
  border-bottom: 1px solid v.$darkGreen;
  padding-bottom: 15px;
}

.businessContainer {
  background-color: v.$darkGreen;
  height: 130px;
}

.businessWrapper {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

.chart {
  background: url('../../Assets/Images/chart.svg');
  width: 130px;
  height: 130px;
}

.businessTextWrapper {
  right: 45px;
}

.businessText {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #7f9799;
  display: block;
}

.businessSubText {
  color: white;
  display: block;
  margin-top: 5px;
  font-weight: 500;
  font-size: 20px;
}

.businessButton {
  background-color: white;
  color: v.$darkGreen;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease;
  padding: 12px 22px;
  min-width: 133px;
  text-align: center;

  &:hover {
    background: none;
    color: white;
    box-shadow: inset 0 0 0 5px white;
  }
}

.infoContainer {
  background-color: #cbf7ee;
}

.infoWrapper {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 81px;
  padding-bottom: 57px;
}

.logoWrapper {
  position: relative;
  width: 99px;
  height: 56px;
  left: 15px;
}

.logo {
  position: absolute;
  height: 56px;
}

.infoText,
.infoSubText {
  line-height: 24px;
  font-size: 14px;
  font-family: Geomanist-Regular;
  font-weight: 400;
  text-align: center;
}

.infoText {
  padding: 30px 0;
}

.infoSubText {
  margin-bottom: 15px;
}

.facebook,
.instagram,
.youtube,
.linkedin {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: 0 12px;
}

.facebook {
  background: url('../../Assets/Images/facebook.svg');
}

.instagram {
  background: url('../../Assets/Images/instagram.svg');
}

.youtube {
  background: url('../../Assets/Images/youtube.svg');
}

.linkedin {
  background: url('../../Assets/Images/linkedin.svg');
}

.popularContainer {
  padding: 62px 0;
}

.popularLeft,
.popularRight {
  width: 46%;
  display: inline-block;
}

.popularRight {
  margin-left: 80px;
}

.popularCategoryImage {
  width: 114px;
  height: 129px;
  background: url('../../Assets/Images/page.svg') no-repeat 50% 50%;
  background-size: contain;
}

.popularPopularImage {
  width: 150px;
  height: 119px;
  background: url('../../Assets/Images/magnifier.svg');
  background-size: contain;
}

.popularText {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  font-family: Geomanist-Regular;
}

.bold {
  font-weight: 600;
  font-family: Geomanist-Book;
}
