@use '../../Assets/Styles/_variables' as v;

.CategoryContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 39px;
  flex-basis: 125px;
  padding: 0 6px;

  &:hover {
    a {
      color: white;
      background-color: v.$darkGreen;
    }
  }

  @media (max-width: 1440px) {
    flex-basis: 110px;
    padding: 0 2px;
  }
}

.caption {
  font-size: 16px;
  line-height: 1.25;
}
