@use '../../Assets/Styles/variables' as v;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 39px;
  flex-basis: 125px;
  padding: 0 6px;

  &:hover {
    a {
      color: white;
      background-color: v.$darkGreen;
    }
  }
}


.caption {
  font-size: 16px;
  line-height: 1.25;
}
