@use '../../Constants/styles/variables' as v;

.padded {
  padding-top: 72px;
}

.nav {
  background-color: v.$darkGreen;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  position: fixed;
  z-index: 100;
}

.wrapper {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.userPanel {
  color: white;
}

.heartIcon {
  margin-right: 40px;
  font-size: 18px;
  top: 1px;
}

.userIcon {
  margin-right: 10px;
  font-size: 19px;
}

.olxText {
  bottom: 1px;
}

.btn {
  margin-left: 36px;
  font-size: 16px;
  background-color: white;
  padding: 13px 22px;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background: none;
    color: white;
    box-shadow: inset 0 0 0 5px white;
  }
}

.hover {
  &:hover {
    color: #7f9799;
  }
}
