@use '../../Assets/Styles/_variables' as v;

.padded {
  padding-top: 72px;
}

.nav {
  background-color: v.$darkGreen;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  position: fixed;
  z-index: 100;
  transition: transform 0.5s cubic-bezier(0.8, 0.2, 0.2, 0.8);
}

.wrapper {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1225px;
  padding: 0 24px;
  margin: 0 auto;

  @media (max-width: 1440px) {
    max-width: 1070px;
  }
}

.userPanel {
  color: white;
}

.messageIcon {
  color: white;
  font-size: 22px;
  margin-right: 18px;
  top: 2px;
}

.heartIcon {
  margin: 0 40px;
  font-size: 18px;
  top: 1px;
}

.userIcon {
  margin-right: 10px;
  font-size: 19px;
}

.message {
  bottom: 2px;
}

.olxText {
  bottom: 1px;
}

.btn {
  margin-left: 36px;
  font-size: 16px;
  background-color: white;
  padding: 13px 22px;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background: none;
    box-shadow: inset 0 0 0 5px white;

    h3 {
      color: white;
    }
  }
}

.hover {
  &:hover {
    i,
    span {
      color: #7f9799;
    }
    color: #7f9799;
  }
}

.hidden {
  transform: translateY(-100%);
}
