@use '../../Assets/Styles/_variables' as v;
@use '../../Assets/Styles/_mixins' as m;
/* containers */

%inputFields {
  height: 56px;
  padding: 8px 0;
  border: none;
  color: v.$darkGreen;
  margin-right: auto;
}

/* ----------- */

i {
  color: v.$darkGreen;
}

.searchSectionContainer {
  padding: 40px 0;
}

.searchMainContainer,
.locationContainer,
.searchBtnContainer {
  background-color: white;
}

.searchBtnContainer {
  @extend %inputFields;
  width: 13%;

  &:hover {
    background-color: v.$darkGreen;
    color: white;

    h3 {
      color: white;
    }

    i {
      color: white;
    }
  }
}

.searchMainContainer {
  width: 61%;
  border-right: 1px solid v.$backgroundGrey;
}

.locationContainer {
  width: 26%;
  border-right: 1px solid v.$backgroundGrey;
}

.searchMainField {
  @extend %inputFields;
  width: 80%;
}

.locationField {
  @extend %inputFields;
  width: 60%;
}

.searchIcon1 {
  font-size: 26px;
  padding: 0 20px;
}

.searchIcon2 {
  font-size: 26px;
}

.locationIcon {
  font-size: 20px;
  padding: 0 17px;
  margin-left: 3px;
}


.tooltip {
  width: 244px;
  height: 20px;
  padding: 7px 10px;
  background-color: #c91414;
  font-size: 12px;
  color: white;
  font-family: Geomanist-Regular;
  font-weight: 400;
  border-radius: 3px;
  position: absolute;
  top: 80px;
  display: none;

  &:before {
    content: attr(data);
    position: absolute;
    margin-top: 4px;
  }

  &:after {
    position: absolute;
    content: '';
    border: 6px solid #c91414;
    transform: rotate(45deg);
    bottom: 26px;
    left: 13px;
  }
}

.searchBtn {
  h3 {
    margin-left: 12px;
  }
}
