@use '../../Assets/Styles/_variables' as v;

.adContainer {
  height: 378px;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 4px;

  @media (max-width: 1440px) {
    height: 320px;
  }
}

.imageWrapper {
  height: 218px;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: 1440px) {
    height: 156px;
  }
}

.delivery {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url('../../Assets/Images/truck.svg') no-repeat center;
  background-size: cover;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.titleWrapper {
  margin-bottom: auto;
  padding: 15px 0;
}

.title {
  font-size: 16px;
  line-height: 1.25;
  font-family: Geomanist-Regular;
  font-weight: 400;
  color: v.$darkGreen;

  &:hover {
    background-color: v.$darkGreen;
    color: white;
  }
}

.location {
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 10px;
  font-family: Geomanist-Regular;
  font-weight: 400;
  margin-bottom: 10px;
  color: v.$darkGreen;
}

.price {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: v.$darkGreen;
  line-height: 16px;
}

.icon {
  position: absolute;
  right: 16px;
  bottom: 20px;
  color: #c6c6c6;
  font-size: 20px;
}

.tooltip {
  height: 18px;
  width: 60px;
  padding: 10px 15px;
  background-color: #3a77ff;
  font-family: Geomanist-Regular;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  bottom: 53px;
  right: -39px;
  z-index: 5;
  display: none;

  &:before {
    content: attr(tooltiptext);
    color: white;
  }

  &:after {
    content: '';
    background-color: #3a77ff;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    position: absolute;
    top: 33px;
  }
}

.favouriteWrapper {
  &:hover {
    .tooltip {
      display: block;
    }

    .icon {
      color: v.$darkGreen;
    }
  }
}
