/* ------PLACEHOLDERS------ */

%category {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 29px;

  @media (max-width: 1440px) {
    width: 70px;
    height: 70px;
    margin-bottom: 19px;

    + a {
      font-size: 14px;
    }
  }
}

.categoriesContainer {
  background-color: white;
  padding-top: 56px;
  padding-bottom: 61px;

  /* Total (with paddings, margins etc.) width of the containers on the OLX site */
  min-width: 1142px;
}

.categoryWrapper {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 39px;
}

.title {
  text-align: center;
  font-size: 32px;
  line-height: 24px;
  margin-bottom: 17px;
}

.dzieci,
.motoryzacja {
  @extend %category;
  background-color: #ffce32;
}

.oddam,
.nieruchomosci {
  @extend %category;
  background-color: #3a77ff;
}

.zamienie,
.praca {
  @extend %category;
  background-color: #23e5db;
}

.pracaDodatkowa,
.dom {
  @extend %category;
  background-color: #ff5636;
}

.fixly,
.noclegi,
.elektronika {
  @extend %category;
  background-color: #fff6d9;
}

.przesylka1zl,
.sport,
.moda {
  @extend %category;
  background-color: #ceddff;
}

.muzyka,
.rolnictwo {
  @extend %category;
  background-color: #c8f8f6;
}

.uslugi,
.zwierzeta {
  @extend %category;
  background-color: #ffd6c9;
}

.subPlaceholder {
  display: none;
}
