@use './variables' as v;

/* Icons ------------------------------------------------------------------------- */

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'commet';
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-comment:before {
  content: '\e800';
} /* '' */
.icon-cw:before {
  content: '\e801';
} /* '' */
.icon-cw-1:before {
  content: '\e802';
} /* '' */
.icon-resize-full-alt:before {
  content: '\e803';
} /* '' */
.icon-star:before {
  content: '\e804';
} /* '' */
.icon-search:before {
  content: '\e805';
} /* '' */
.icon-search-1:before {
  content: '\e806';
} /* '' */
.icon-heart-empty:before {
  content: '\e807';
} /* '' */
.icon-location-outline:before {
  content: '\e808';
} /* '' */
.icon-inbox:before {
  content: '\e809';
} /* '' */
.icon-star-empty:before {
  content: '\e80a';
} /* '' */
.icon-attach:before {
  content: '\e80b';
} /* '' */
.icon-attach-1:before {
  content: '\e80c';
} /* '' */
.icon-left-open-big:before {
  content: '\e80d';
} /* '' */
.icon-right-open-big:before {
  content: '\e80e';
} /* '' */
.icon-up-open-big:before {
  content: '\e80f';
} /* '' */
.icon-down-open-big:before {
  content: '\e810';
} /* '' */
.icon-up-open-mini:before {
  content: '\e811';
} /* '' */
.icon-right-open-mini:before {
  content: '\e812';
} /* '' */
.icon-left-open-mini:before {
  content: '\e813';
} /* '' */
.icon-down-open-mini:before {
  content: '\e814';
} /* '' */
.icon-plus:before {
  content: '\e815';
} /* '' */
.icon-plus-1:before {
  content: '\e816';
} /* '' */
.icon-cancel:before {
  content: '\e817';
} /* '' */
.icon-cancel-1:before {
  content: '\e818';
} /* '' */
.icon-cancel-2:before {
  content: '\e819';
} /* '' */
.icon-info-circled-alt:before {
  content: '\f086';
} /* '' */
.icon-user-o:before {
  content: '\f2c0';
} /* '' */

/*----------------------------------------------------------------*/

@font-face {
  font-family: 'Geomanist';
  src: local('Geomanist'), url('../../Assets/Fonts/geomanist-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Geomanist-Book';
  src: local('Geomanist-Book'), url('../../Assets/Fonts/geomanist-book.woff2') format('woff2');
}

@font-face {
  font-family: 'Geomanist-Light';
  src: local('Geomanist-Light'), url('../../Assets/Fonts/geomanist-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Geomanist-Regular';
  src: local('Geomanist-Thin'), url('../../Assets/Fonts/geomanist-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geomanist-ExtraLight';
  src: local('Geomanist-ExtraLight'),
    url('../../Assets/Fonts/geomanist-extralight.woff2') format('woff2');
}

@font-face {
  font-family: 'commet';
  src: url('../../Assets/Fonts/commet.eot?36487026');
  src: url('../../Assets/Fonts/commet.eot?36487026#iefix') format('embedded-opentype'),
    url('../../Assets/Fonts/commet.woff2?36487026') format('woff2'),
    url('../../Assets/Fonts/commet.woff?36487026') format('woff'),
    url('../../Assets/Fonts/commet.ttf?36487026') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Geomanist', Arial, sans-serif;
}

body {
  background-color: v.$backgroundGrey;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  list-style: none;
  text-decoration: none;
  list-style: none;
  color: v.$darkGreen;
}

*:focus {
  outline: none;
}

::placeholder {
  font-family: Geomanist-Regular;
  font-weight: 400;
  color: v.$darkGreen;
}

.visible {
  display: block;
}

.invisible {
  display: none !important;
}

.rel {
  position: relative;
}

.inblock {
  display: inline-block;
}

.flex {
  display: flex;
}

.cntr {
  justify-content: center;
  align-items: center;
}

.white {
  color: white;
}

.indent {
  width: 1238px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;

  @media (max-width: 1440px) {
    width: 1094px;
  }
}
