@use './_variables' as v;

%cancelSignBeforeAfter {
  height: 110%;
  position: absolute;
  content: '';
  width: 1.5px;
  background-color: v.$darkGreen;
}

@mixin cancelSign($height, $width) {
  width: $width;
  height: $height;
  position: relative;
  border-radius: 50%;
  content: '';
  overflow: hidden;
  transform: rotate(45deg);
  cursor: pointer;

  &:before {
    @extend %cancelSignBeforeAfter;
  }

  &:after {
    @extend %cancelSignBeforeAfter;
  }
}

@mixin buttonColor($firstColor, $secondColor) {
  background-color: $firstColor;
  transition: all 0.3 ease;
  cursor: pointer;

  span {
    color: $secondColor;
  }

  &:hover {
    background: none;
    box-shadow: inset 0 0 0 5px $firstColor;

    span {
      color: $firstColor;
    }
  }
}
